.icon {
  width: 0.9rem;
  height: 0.9rem;
}

.icon-xs {
  width: 0.75rem;
  height: 0.75rem;
  font-size: 0.75rem;
}

.icon-md {
  width: 1.75rem;
  height: 1.75rem;
  font-size: 1.75rem;
}

.icon-lg {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2.5rem;
}
